{% extends 'layouts/base.html' %}

{% block page_title %}Dettaglio Richiesta AdE numero {{ object.pk }} | {{  block.super }}{% endblock %}

{% block main %}
<div class='row-fluid'>
	<div class="span10 offset1">
		<h2>Dettaglio della richiesta AdE #{{ object.pk }}</h2>
		<ul class="unstyled">
			<li>Nome richiesta originale: {{ object.original_filename }}</li>
			<li>Data inserimento: {{ object.insert_date|date:"d F Y - G:i" }}
			<li>Data ritorno da Ade: {{ object.return_date|date:"d F Y - G:i" }}
			<li>Stato: <strong>{{ object.get_status_display }}</strong></li>
			<li><i class="icon-download"></i> <a href="{% url excel object.pk %}">Download file excel</a></li>
		</ul>
	
	{% if details %}
		{% if details.count == 1000 %}
		<p><strong>Attenzione, vengono visualizzati solo i primi 1000 record della richiesta!</strong></p>
		{% endif %}
		<h3>Codici fiscali richiesti</h3>
		<table class="table table-bordered table-striped table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>C.F. / P.IVA originale</th>
					<th>Cogn. / Denom.</th>
					<th>Nome / Acronimo</th>
					<th>Sesso</th>
					<th>Comune res.</th>
					<th>Prov. res.</th>
					<th>CAP res.</th>
					<th>Indirizzo res.</th>
					<th>Data decesso</th>
					<th>Data fonte</th>
				</tr>
			</thead>
			<tbody>
			{% for detail in details %}
				{% with indirizzo=detail.sedime_residenza|add:" "|add:detail.nome_via_residenza|add:" "|add:detail.civico_residenza %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ detail.cfisc_orig }}</td>
					<td>{{ detail.cognome_denominazione }}</td>
					<td>{{ detail.nome_acronimo }}</td>
					<td>{{ detail.sesso }}</td>
					<td>{{ detail.comune_residenza }}</td>
					<td>{{ detail.prov_residenza }}</td>
					<td>{{ detail.CAP_residenza }}</td>
					<td>{{ indirizzo.strip }}</td>
					<td>{{ detail.data_decesso }}</td>
					<td>{{ detail.data_fonte }}</td>
				</tr>
				{% endwith %}
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	</div>
</div>
{% endblock main%}