{% extends 'layouts/base.html' %}

{% block page_title %}Richieste AdE | {{  block.super }}{% endblock %}

{% block main %}
<div class="span10 offset1">
<h2>Elenco richieste AdE presenti:</h2>
{% if object_list %}
	<ul class="unstyled">
	{% for ADE_request in object_list %}
		<li>{{ ADE_request.insert_date|date:"d F Y - G:i" }} - {{ ADE_request.pk }} - stato <strong>{{ ADE_request.get_status_display }}</strong> - <a href="{{ ADE_request.get_absolute_url }}">{{ ADE_request }}</a></li>
	{% endfor %}
{% else %}
Sorry, no requests yet...
{% endif %}
</div>
{% endblock %}

